/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
   Author: Brian
   Date:   6/4/18

   Filename: cg_validate.css

*/


/* Validation Styles */

